
<!-- start: Container -->
		<div class="container">

			<!-- start: Footer -->
			<div id="footer">

				<!-- start: Row -->
				<div class="row-fluid">

					<!-- start: About -->
					<div class="span6">

						<h3>Jesus Molina Consulting</h3>

						<p>	
						<i class="fa-icon-phone"></i> Phone: (415) 685-3049
						</p>
						
						<p>
						<i class="fa-icon-envelope"></i> Email: <a href="mailto:cloud@jesusmolina.com">cloud@jesusmolina.com</a>
						</p>
						<p>
						<i class="fa-icon-globe"></i> Web: <a href='http://www.jesusmolina.com'>jesusmolina.com</a>
						</p>

					</div>
					<!-- end: About -->



					<!-- start: Follow Us -->
					<div class="span6">

						<h3>Follow Me</h3>

						<div id="social-r" class="tooltips">
							<a href="https://twitter.com/jesusmolinaauth" rel="tooltip" title="Twitter" class="twitter">Twitter</a>
							<a href="https://github.com/nomellames" rel="tooltip" title="Github" class="github">Github</a>
							<a href="http://www.linkedin.com/pub/jesus-molina/3/26/b53" rel="tooltip" title="LinkedIn" class="linkedin">LinkedIn</a>
							<a href="{{ site.url }}/feed" rel="tooltip" title="RSS" class="rss">RSS</a>
						</div>

					</div>
					<!-- end: Follow Us -->

				</div>
				<!-- end: Row -->	

			</div>
			<!-- end: Footer -->

			<!-- start: Under Footer -->
			<div id="under-footer">

				<!-- start: Row -->
				<div class="row-fluid">

					<!-- start: Under Footer Logo -->
					<div class="span5">
						<div id="under-footer-logo">
							<a class="brand" href="#">Jesus<span>M</span>olina.com</a>
						</div>
					</div>
					<!-- end: Under Footer Logo -->

					<!-- start: Under Footer Copyright -->
					<div class="span6">

						<div id="under-footer-copyright">
							&copy; 2013, <a href="http://www.jesusmolina.com">Jesus Molina </a> Template Designed by <a href="http://clabs.co">creativeLabs</a>
						</div>

					</div>
					<!-- end: Under Footer Copyright -->

					<!-- start: Under Footer Back To Top -->
					<div class="span1">

						<div id="under-footer-back-to-top">
							<a href="#"></a>
						</div>

					</div>
					<!-- end: Under Footer Back To Top -->

				</div>
				<!-- end: Row -->

			</div>	
			<!-- end: Under Footer -->

		</div>
		<!-- end: Container  -->	

		<!-- start: Java Script -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="/js/jquery-1.8.2.js"></script>
		<script src="/js/isotope.js"></script>
		<script src="/js/jquery.imagesloaded.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script src="/js/flexslider.js"></script>
		<script src="/js/carousel.js"></script>
		<script src="/js/jquery.cslider.js"></script>
		<script src="/js/slider.js"></script>
		<script src="/js/fancybox.js"></script>
		<script src="/js/twitter.js"></script>
		<script src="/js/jquery.placeholder.min.js"></script>

		<script src="/js/excanvas.js"></script>
		<script src="/js/jquery.flot.min.js"></script>
		<script src="/js/jquery.flot.pie.min.js"></script>
		<script src="/js/jquery.flot.stack.js"></script>
		<script src="/js/jquery.flot.resize.min.js"></script>

		<script defer="defer" src="js/custom.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26151812-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=9382443; 
var sc_invisible=1; 
var sc_security="bab10b39"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="hit counter"
href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="http://c.statcounter.com/9382443/0/bab10b39/1/"
alt="hit counter"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->

		<!-- end: Java Script -->

	</body>
</html>
